In [1]:
import pandas as pd

In [4]:
#Question 1
# Load the CSV file into a DataFrame with 'latin1' encoding
df = pd.read_csv('FoodBalanceSheets_E_Africa_NOFLAG.csv', encoding='latin1')

# Display the first few rows of the DataFrame
df.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [5]:
# Group by 'Element' and sum the values for each element
grouped_data = df.groupby('Element').sum()

# Reset the index to make 'Element' a regular column
grouped_data = grouped_data.reset_index()

# Filter the DataFrame to get the sum of 'Processing' in 2017
processing_2017_sum = grouped_data[(grouped_data['Element'] == 'Processing')]['Y2017'].sum()

print("Total sum of Processing in 2017:", processing_2017_sum)

Total sum of Processing in 2017: 292836.0

In [6]:
#Question4
# Selecting columns 'Y2017' and 'Area'
selected_columns = df[['Y2017', 'Area']]

# Performing a groupby operation on 'Area' and summing the values for each area
grouped_data = selected_columns.groupby('Area').sum()

# Finding the area with the highest sum in 2017
area_with_highest_sum = grouped_data['Y2017'].idxmax()

print("Area with the highest sum in 2017:", area_with_highest_sum)

Area with the highest sum in 2017: Nigeria

In [7]:
#Question6
# Selecting only the columns for the year 2017
df_2017 = df[['Y2017']]

# Calculating the mean and standard deviation for the year 2017
mean_2017 = df_2017.mean().values[0]
std_dev_2017 = df_2017.std().values[0]

# Rounding the results to 2 decimal places
mean_2017_rounded = round(mean_2017, 2)
std_dev_2017_rounded = round(std_dev_2017, 2)

print("Mean for the year 2017:", mean_2017_rounded)
print("Standard deviation for the year 2017:", std_dev_2017_rounded)

Mean for the year 2017: 140.92
Standard deviation for the year 2017: 1671.86

In [8]:
#Question8
# Selecting only the columns for the year 2014
df_2014 = df[['Y2014']]

# Calculating the total number of missing values in 2014
total_missing_2014 = df_2014.isnull().sum().sum()

# Calculating the total number of elements in the DataFrame for 2014
total_elements_2014 = df_2014.size

# Calculating the percentage of missing data in 2014
percentage_missing_2014 = (total_missing_2014 / total_elements_2014) * 100

# Rounding the results to 3 decimal places
percentage_missing_2014_rounded = round(percentage_missing_2014, 3)

print("Total number of missing data in 2014:", total_missing_2014)
print("Percentage of missing data in 2014:", percentage_missing_2014_rounded, "%")

Total number of missing data in 2014: 1589
Percentage of missing data in 2014: 2.607 %

In [18]:
#Question14
total_unique_countries = df['Area'].nunique()
print("Total number of unique countries in the dataset:", total_unique_countries)

Total number of unique countries in the dataset: 49

In [19]:
#Question18
# Select columns 'Y2017' and 'Area'
selected_columns = df[['Y2017', 'Area']]

# Perform a groupby operation on 'Area' and calculate the sum for 'Y2017'
grouped_df = selected_columns.groupby('Area').sum()

# Sort the DataFrame by the sum of 'Y2017' values in ascending order
sorted_df = grouped_df.sort_values(by='Y2017')

# Find the area with the 7th lowest sum
seventh_lowest_sum_area = sorted_df.index[6]  # Index starts from 0

print("Area with the 7th lowest sum in 2017:", seventh_lowest_sum_area)

Area with the 7th lowest sum in 2017: Guinea-Bissau

In [23]:
#Question19
# Calculate the correlation between 'Element Code' and each year's data
correlations = {}
for year_col in df.filter(like='Y').columns:
    correlation = df['Element Code'].corr(df[year_col])
    correlations[year_col] = correlation

# Find the year with the least correlation
year_least_correlation = min(correlations, key=correlations.get)

print("Year with the least correlation with 'Element Code':", year_least_correlation)

Year with the least correlation with 'Element Code': Y2016

In [29]:
# Filter the dataframe for Madagascar
madagascar_df = df[df['Area'] == 'Madagascar']

# Display the first few rows of the filtered dataframe
print(madagascar_df.head())

       Area Code        Area  Item Code         Item  Element Code  \
30715        129  Madagascar       2501   Population           511
30716        129  Madagascar       2501   Population          5301
30717        129  Madagascar       2901  Grand Total           664
30718        129  Madagascar       2901  Grand Total           674
30719        129  Madagascar       2901  Grand Total           684

                                      Element             Unit     Y2014  \
30715           Total Population - Both sexes     1000 persons  23590.00
30716                Domestic supply quantity      1000 tonnes      0.00
30717           Food supply (kcal/capita/day)  kcal/capita/day   1986.00
30718  Protein supply quantity (g/capita/day)     g/capita/day     44.45
30719      Fat supply quantity (g/capita/day)     g/capita/day     22.18

          Y2015     Y2016     Y2017     Y2018
30715  24234.00  24894.00  25571.00  26262.00
30716      0.00      0.00      0.00      0.00
30717   1922.00   1918.00   1943.00   1938.00
30718     43.26     43.35     43.94     44.17
30719     22.97     23.83     25.26     24.12

In [30]:
# Filter the dataframe for Madagascar and the specific item
madagascar_protein_2015 = df[(df['Area'] == 'Madagascar') & (df['Item'] == 'Protein supply quantity (g/capita/day)')]

# Extract the value for 2015
protein_2015 = madagascar_protein_2015['Y2015'].values[0]

print("Total Protein supply quantity in Madagascar in 2015:", protein_2015)

IndexError: index 0 is out of bounds for axis 0 with size 0

In [31]:
print(madagascar_protein_2015)

Empty DataFrame
Columns: [Area Code, Area, Item Code, Item, Element Code, Element, Unit, Y2014, Y2015, Y2016, Y2017, Y2018]
Index: []

In [32]:
stock_variation_df = df[df['Element'] == 'Stock Variation']

In [34]:
# Sum the values across years
stock_variation_df['Total_Stock_Variation'] = stock_variation_df[['Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']].sum(axis=1)

# Group by 'Element' and find the sum of 'Total_Stock_Variation' for each year
grouped_stock_variation = stock_variation_df.groupby('Element')['Total_Stock_Variation'].sum()

# Find the element with the highest sum of stock variation
element_highest_stock_variation_sum = grouped_stock_variation.idxmax()
print("Element with the highest sum of Stock Variation:", element_highest_stock_variation_sum)

Element with the highest sum of Stock Variation: Stock Variation

C:\Users\user\AppData\Local\Temp\ipykernel_11816\4059426026.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  stock_variation_df['Total_Stock_Variation'] = stock_variation_df[['Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']].sum(axis=1)

In [35]:
# Group by 'Element' and find the sum of 'Total_Stock_Variation' for each year
grouped_stock_variation = stock_variation_df.groupby('Element')[['Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']].sum()

# Find the year with the highest sum of stock variation
year_highest_stock_variation_sum = grouped_stock_variation.sum(axis=1).idxmax()
print("Year with the highest sum of Stock Variation:", year_highest_stock_variation_sum)

Year with the highest sum of Stock Variation: Stock Variation

In [36]:
#Question10
# Filter the DataFrame to include only rows where the 'Item' column is 'Wine'
wine_df = df[df['Item'] == 'Wine']

# Perform a groupby sum aggregation on the 'Item' column for each year
wine_production_2015 = wine_df['Y2015'].sum()
wine_production_2018 = wine_df['Y2018'].sum()

print("Total sum of Wine produced in 2015:", wine_production_2015)
print("Total sum of Wine produced in 2018:", wine_production_2018)

Total sum of Wine produced in 2015: 4251.8099999999995
Total sum of Wine produced in 2018: 4039.3199999999997